@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animation-speed-fast: 1s;
    --animation-speed-normal: 2s;
    --caret-blink-speed: 530ms;

    --title-num-of-chars: 19;
    --speed-per-char: 100ms;
    --typewriter-duration: calc(var(--title-num-of-chars) * var(--speed-per-char)); /* 1,900ms */

    --typewriter-delay: 1s;
    --total-typewriter-duration: calc(
        var(--typewriter-duration) + var(--typewriter-delay)
    ); /* 1900ms + 1s = 2,900ms */
}

html {
    scroll-behavior: smooth; /* used when redirecting to an element */
}

.content-max-width {
    max-width: 87.5rem;
}

.border-bottom-gradient {
    border-bottom: 0.125rem solid;
    border-image: linear-gradient(
            to right,
            theme('colors.white') 30%,
            theme('colors.grey.100'),
            theme('colors.white') 70%
        )
        10;
}

.animate-navbar {
    animation: move_top_to_position 1s;
}

@keyframes move_top_to_position {
    from {
        top: -3.125rem;
    }
    to {
        top: 0;
    }
}

.multi-line-type {
    color: #0000;
    /* 1st linear-gradinet -> caret, 2nd linear-gradient -> text */
    background:
        linear-gradient(-90deg, theme('colors.orange.100') 5px, #0000 0) 10px 0,
        linear-gradient(black 0 0) 0 0;
    background-size: calc(var(--title-num-of-chars) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation:
    /* TODO: add blink animaiton 1s before starting to type (typewriter-delay) and then remove it */
        /* blink var(--caret-blink-speed) infinite steps(1), */ type
        var(--typewriter-duration) steps(var(--title-num-of-chars)) forwards;
}
@keyframes blink {
    50% {
        background-position:
            0 -100%,
            0 0;
    }
}
@keyframes type {
    from {
        background-size: 0 200%;
    }
}

.animate-drop {
    position: relative;
    opacity: 0;
    animation: dot_drop var(--animation-speed-normal) var(--typewriter-duration) forwards;
}

@keyframes dot_drop {
    from {
        top: -150px;
    }
    to {
        top: 0px;
        opacity: 100%;
    }
}

.animate-fade-in-up {
    opacity: 0%;
    transform: translateY(3rem);
    animation: fade_in_up var(--animation-speed-normal) var(--total-typewriter-duration) forwards;
}

@keyframes fade_in_up {
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

.animate-fade-in {
    opacity: 0%; /* keep it hidden */
    animation: fade_in var(--animation-speed-normal) var(--total-typewriter-duration) forwards;
}

@keyframes fade_in {
    to {
        opacity: 100%;
    }
}

@keyframes slide_left_to_right {
    0% {
        left: -12.5rem;
    }
    40% {
        opacity: 100%;
    }
    100% {
        left: 0px;
        opacity: 100%;
    }
}

.animate-slide-rigth-to-left div {
    position: relative;
    opacity: 0;
}

.animate-slide-rigth-to-left div:nth-child(1) {
    animation: slide_right_to_left var(--animation-speed-fast) var(--total-typewriter-duration)
        forwards;
}

.animate-slide-rigth-to-left div:nth-child(2) {
    animation: slide_right_to_left var(--animation-speed-fast)
        calc(var(--total-typewriter-duration) + 0.5s) forwards;
}

.animate-slide-rigth-to-left div:nth-child(3) {
    animation: slide_right_to_left var(--animation-speed-fast)
        calc(var(--total-typewriter-duration) + 1s) forwards;
}

@keyframes slide_right_to_left {
    0% {
        right: -14rem;
    }
    40% {
        opacity: 100%;
    }
    100% {
        right: 0px;
        opacity: 100%;
    }
}

/* We cannot use multiple animations for the same element, even if one is only for hover,
   therefore anchor tag has one animaiton and img another */
.animate-logo {
    position: relative;
}

.animate-logo:hover {
    /* Apply orange filter to image */
    filter: invert(57%) sepia(72%) saturate(1781%) hue-rotate(3deg) brightness(110%) contrast(104%);
    animation: up_down 200ms;
}

@keyframes up_down {
    0% {
        top: 0px;
    }
    50% {
        top: -5px;
    }
    100% {
        top: 0px;
    }
}

.animate-modal-fade-in {
    animation: modal_fade_in 300ms;
}

@keyframes modal_fade_in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes modal_fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
